<div class="container">
  <h1>Cool {{ title }}</h1>

  <ul class="piano">
    <li (click)="playSound('c')" class="white c"></li>
    <li (click)="playSound('cs')" class="black cs"></li>
    <li (click)="playSound('d')" class="white d"></li>
    <li (click)="playSound('ds')" class="black ds"></li>
    <li (click)="playSound('e')" class="white e"></li>
    <li (click)="playSound('f')" class="white f"></li>
    <li (click)="playSound('fs')" class="black fs"></li>
    <li (click)="playSound('g')" class="white g"></li>
    <li (click)="playSound('gs')" class="black gs"></li>
    <li (click)="playSound('a')" class="white a"></li>
    <li (click)="playSound('as')" class="black as"></li>
    <li (click)="playSound('b')" class="white b"></li>
  </ul>
</div>
